
.admin-header {
  display: flex;
  justify-content: flex-end!important; /* move content to the right */
  align-items: center;
  background: white;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
}

.admin-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  cursor: pointer;
}