*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bluetext{   /* custom  bootstrap classes */
color: #2c2484!important;
}
.blueborder{
 border-width: 1px #2c2484;
}
.bg-blue{
background-color: #2c2484;
}
.sansfamily{
 font-family: 'sans-serif';
  }    
  .yellow_background{
background-color: #fff350
}
.yellowborder{
  border: 1px solid #fff350;
}
.font_size{
  font-size: 15px;
}
.font_weight_semi{
  font-weight: 600;
}
.font_weight{
  font-weight: 500;
}





