.login_container .btn-custom {
    width: 134px;
    height: 50px !important;
    /* Button height */
  
    /* Font size */
    border-radius: 8px;
    /* Rounded corners */
  
    /* Text color */
    border: none;
    /* Remove default border */
}