.footer-top-banner {
  background: #f5f5f5; 
}
.icon-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.footer-top-row{
flex-wrap: wrap; 
 gap: 50px;
}
.payment_part{
gap: 40px;
}
.secure_payment_heading{
    font-size: 24px;
}
.secure_payment_titlle{
font-size: 18px;
}