.reset-page {
  padding: 60px 0;
}
.reset-container {
  max-width: 420px;
  margin: 60px auto;
  text-align: left;
}

.reset-container h2 {
  font-size: 25px; 
  margin-bottom: 10px;
}

.info-text {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}
.reset-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reset-form input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}
.reset-form input:focus {
  border-color: #5b3fd1;
  box-shadow: 0 0 5px rgba(91, 63, 209, 0.3);
}
.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.submit-btn {
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.cancel-btn {
  background-color: transparent;
  padding: 12px 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid #2c2484;
 
}
.cancel-btn:hover {
  background-color: #f4f4f4;
}
