.main_homeessential{
background-color: #efefef;
}
.main_homeessential .Homeessential_part .homeessential_text{
font-size: 24px;
}
.main_homeessential .Homeessential_part .card-titles{
font-size: 20px;
}
.main_homeessential .Homeessential_part .card-tex{
font-size: 15px;
}
.main_homeessential  .Homeessential_part .shop_btn{
    border-radius: 10px;
padding: 11px 90px!important;
color:#ed2529;
}
.main_homeessential  .Homeessential_part .shop_btn:hover {
    background-color: #2c2484;
    border-color: #2c2484;
}