
.arrival-sliders {
  margin-top: 20px;
}
.arrival-sliders .arrival-dots-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.arrival-sliders .newarrival-arrow {
  background: transparent;
  border: none;
  color: #2c2484;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.arrival-sliders .newarrival-arrow:hover {
  color: #ffb400;
}

.arrival-sliders .slick-dots {
  display: flex;
  justify-content: center;
  bottom: -45px;
}
.arrival-sliders .newarrival-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 9px;
  list-style: none;
}
.arrival-sliders .newarrival-dots li {
  margin: 0 6px;
}
.arrival-sliders .newarrival-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc !important;
  border: none;
  padding: 0;
}
.arrival-sliders .newarrival-dots li button:before {
  display: none;
}
.arrival-sliders .newarrival-dots li.slick-active button {
  width: 25px;
  height: 10px;
  background: #2c2484 !important;
  border-radius: 50px;
}

.arrival-sliders .slick-track {
  display: flex !important;
}
.arrival-sliders .slick-slide {
  height: inherit !important;
  display: flex !important;
}
.arrival-sliders .slick-slide > div {
  display: flex !important;
  flex: 1;
  height: 100%;
}
.arrival-sliders .product-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.arrival-sliders .product-card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.arrival-sliders .product-card img.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.arrival-sliders .best_seller_text {
  font-size: 24px;
}
.arrival-sliders .yellowicon {
  width: 45px;
  height: 45px;
}
.arrival-sliders .discount-badge {
  width: 40px;
  height: 40px;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.arrival-sliders .btn.btn-warning:hover {
  background-color: #2c2484;
  color: white;
  border-color: #2c2484;
}

.arrival-sliders .product-title:hover {
  text-decoration: underline;
  cursor: pointer;
  color:#2c2484;
}
.arrival-sliders .product-title a{
    color:#2c2484!important;
}
